/* .header {
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  padding-bottom: 5em;
  height: 80vh;
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5625em;
  color: #6DB9EF;
  background-color: rgb(0 0 0 / 83%);
}

.header-text h5 {
  color: #50A38E;
  font-size: 35px;
  font-weight: 600;
}

.header-text p {
  color: #50A38E;
  font-size: 20px;
  font-weight: 600;
}

.about-us-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.about-us-section p {
  font-family: "Segoe UI";
  color: #000000;
  padding-left: 9em;
  padding-right: 9em;
} */

/* First Banner */
.first-banner-0{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  height: fit-content;
  padding: 0%;
}
.side-color{
  width: 5%;
  height: 40vw;
  min-height: 100px;
  max-height: 500px;
}
.first-banner{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 45%;
}
.first-banner-0 img{
  width: 50%;
}
.rotating-heading{
  font-size: 4vw;
  text-align: center;
}
.fixed-heading{
  font-size: 3vw;
  text-align: center !important;
}
.view{
  width: 85%;
  background-color: #718e94;
  color: black;
  text-align: center;
  margin-top: 10px;
}
.banner-btn{
  color: white;
  text-align: center;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 30px;
  width: fit-content;
}
.rotating-heading::before {
  content: "Revolutionizing Learning";
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

button:hover {opacity: 0.5}


@keyframes animate {

  50% {content: "Learn Today, Lead Tomorrow";}
}



.view-course{
  background-color: #718e94;
  width: 100%;
  border: 3px solid #3A5F69;
  color: white;
  border-radius: 12px;
}