

/* First Banner */
.first-banner-0{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 30px;
}
.side-color{
  width: 5%;
  height: 40vw;
  min-height: 100px;
  max-height: 500px;
}
.first-banner{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
.first-banner-0 img{
  width: 35%;
}
.rotating-heading{
  font-size: 4vw;
  font-weight: 800;
  text-align: left;
}
.fixed-heading{
  font-size: 2vw;
  color: white;
  text-align: left !important;
}

.rotating-heading::before {
  content: "Revolutionizing Learning";
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes animate {

  50% {content: "Learn Today, Lead Tomorrow";}
}
