@import "rsuite/dist/rsuite.css";

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #04042c !important;
}

.navbar,.rs-navbar-default {
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
  padding: 5px;
  margin: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.rs-drawer-body{
  background-color: #4d5dfb;
  background-image: linear-gradient(315deg, #4d5dfb 0%, #08c8f6 74%);
}
.rs-navbar-brand {
  padding: 0px 0px 0px 0px!important;
}
.logo svg{
  width: 200px;
  margin: 6px 20px;
}
.rs-navbar-item:hover{
  background-color: transparent !important;
}

.nav-links {
  color: white !important;
  font-weight: 800;
  text-decoration: none;
}

.nav-links:hover,.nav-links:active{
  color: #04042c !important;
}

.nav-links-login{
  width: 130px;
  color: #04042c !important;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  margin-left: 10px;
  display: block;
  background-color: white;
}
.rs-btn{
  background-color: transparent;
}
.nav-links-login:hover{
  background-color: white;
  color: #3A5F69;
}
.menu-side-bar{
  display: none;
}
.nav_side_bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .menu-side-bar{
    display: flex;
  }
  .menu-top-bar{
    display: none;
  }
}
footer {
  background-color: #718e94;
}

.list-group,
.list-group-item {
  background-color: inherit !important;
}

.timings table {
  border-color: #000000;
}

.timings tr {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.main-color {
  background: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: border-box/padding-box/content-box/initial/inherit;
  background-color: #0beef9;
}
.heading{
  font-weight: 800;
  font-size: 250%;
  margin-bottom: 40px;
}
.main-color-bg {
  background: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: border-box/padding-box/content-box/initial/inherit;
  background-color: #0beef9;
}

h5 {
  font-weight: bold !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.rs-modal-content{
  height: fit-content;
  width: fit-content;
  padding: 0% !important;
  margin: auto;
  background-color: transparent;
  border-radius: 20px;
}